<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <nav>
    <table style = "width:100%">
        <h1>Projects</h1>

        <% for (const proj of rows) { %>
            <tr>
                <th>Project ID</th>
                <th>Description</th>
                <th>Status</th>
            </tr>

            <tr>
                <td><%= proj.p_PS_Project %></td>
                <td><%= proj.p_Project_Desc %></td>
                <td><%= proj.p_Status %></td>
            </tr>

            <tr>
                <th>Work Order #</th>
                <th>Department</th>
                <th>Goal Group</th>
                <th>Goal</th>
                <th># of Units</th>
            </tr>

            <tr>
                <td><%= proj.WO_Num %></td>
                <td><%= proj.Department %></td>
                <td><%= proj.Goal_Group %></td>
                <td><%= proj.Goal %></td>
                <td><%= proj.Units %></td>
            </tr>

            <tr>
                <th>Meter Name</th>
                <th>Meter Reading</th>
                <th>Reading Date</th>
            </tr>

            <tr>
                <td><%= proj.m_Meter_Name %></td>
                <td><%= proj.m_Meter_Reading %></td>
                <td><%= proj.m_Reading_Date %></td>
            </tr>

            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>

        <% } %>
    </table>
    </nav>
</body>
</html>